@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width:100%;
    max-width: 500px;
    border: 5px solid rgba(237, 237, 224, 0.412);
    background-color: rgba(235, 242, 248, 0.471);
} 


h1{
    text-align: center;
    padding-bottom: 10px;
    font-weight: 600;
}

h1 .hederbotom{
    border-bottom: 2px solid rgb(200, 193, 193);
    width:88% ;
    margin-left: 30px;
    margin-top: 10px;/*Sor*/
}

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-container form .title{
    display: flex;
    justify-content: left;
    align-self:flex-start ;
    font-size: larger;
    margin-bottom: 5px;
}

.form-container form .email-div{
    margin-bottom: 5px;
}

.form-container form .pass-div{
    margin-bottom: 30px;
}

.form-container form .email-div .email{
    height: 40px;
}

.form-container form .pass-div .password{
    height: 40px;
}

.submit{
    background-color: yellowgreen;
    border: 1px solid yellowgreen;
    display: flex;
    width: 100%;
    object-fit: contain;
    padding: 10px 43%;
    color: #fff;
   height: 40px;
   margin-bottom: 20px
}

.remember{
    background-color: rgb(223, 232, 238);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: 40px; /*sor*/
    margin-left:30px ;
    margin-bottom: 5px;
    padding: 0 5px;
}

.remember .rememberme{
    display: flex;

}

.remember .forgotpass{
    display: flex;
    align-self:center;
    text-align: right;
    justify-content: end;
    margin-right: 5px;
    color: blue;
}

.email.red{
    border: 1px solid red;
}